<html>

<head>
    <meta charset="utf-8" />
    <title>ZeroCore Tools: Upload Song</title>
</head>

<body>
    <h1>Only Direct Links or Dropbox Links</h1>
    <h1>Только прямые ссылки и ссылки с Dropbox</h1>

    <label for="song_name">Song Name</label>
    <input type="text" id="songName">
    <br>
    <label for="author_name">Song Author</label>
    <input type="text" id="authorName">
    <br>
    <label for="song_url">Song URL</label>
    <input type="text" id="url">
    <br>

    <button onclick="send()" id="send">Send</button>

    <span id="status"></span>

    <script>
        function send() {
            const status = document.getElementById('status')
            status.innerText = `Loading...`
            const http = new XMLHttpRequest()
            const url = '../../api/songs'
            const songName = document.getElementById('songName').value
            const authorName = document.getElementById('authorName').value
            const url = document.getElementById('url').value
            let params = new URLSearchParams()
            params.append('songName', songName)
            params.append('authorName', authorName)
            params.append('url', url)
            http.open('POST', url, true)
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
            http.send(params)
            http.onload = () => {
                const res = JSON.parse(http.response)
                if (res.status == 'error') {
                    if (res.code == 'alreadyUploaded') {
                        status.innerText = `Song already uploaded, ID: ${res.value}`
                    }
                    if (res.code == 'incorrectUrl') {
                        status.innerText = `Song URL is invalid`
                    }
                    if (res.code == 'requiredError') {
                        status.innerText = `Song name and Author name is required`
                    }
                    if (res.code == 'unknownError') {
                        status.innerText = `Unknown Error`
                    }
                }
                else if (res.status == 'success') {
                    status.innerText = `Song uploaded, ID: ${res.value}`
                }
            }
        }
    </script>
</body>

</html>